#container {
display: grid;
justify-content: center;
}

#instructions {
  display: grid;
  justify-content: center;
}

.check {
  visibility: hidden;
  display: flex;  
}

#endQuiz {
  visibility: hidden;
  display: grid;
  justify-content: center;
}

#highscoresSection {
  visibility: hidden;
  display: grid;
  justify-content: center;
}