#container {
display: flex;
justify-content: center;
}

#instructions {
  display: grid;
  justify-content: center;
}

.check {
  visibility: hidden;  
}

#endQuiz {
  visibility: hidden;
}

#highscoresSection {
  visibility: hidden;
}